h1 {
font-family: "Graduate", serif;
text-align: center;
text-transform: uppercase;
font-size: 3rem;
letter-spacing: -0.14rem;
outline: auto;
background-color: #ffffff;
padding: 20px;
}

body {
    background-color: #e2e1e1;
}